<h1>Recursos Ruby on Rails</h1>
<h4>Creacion de Proyecto rails</h4>
<p>Instalacion de ruby </p>

<table class="table table-dark table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col"> Descripcion</th>
        <th scope="col">Comando</th>
        <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td> Instalacion Ruby</td>
        <td> $ brew install ruby</td>
        <td> Homebrew (macOS)</td>
        </tr>
        <tr>
        <th scope="row">1</th>
        <td> Instalacion Ruby</td>
        <td> $ sudo apt-get install ruby-full</td>
        <td> apt (Debian o Ubuntu)</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Version</td>
        <td>ruby -v</td>
        <td>Ver que version de ruby tienes en tu computador</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Instalacion de rvm </td>
        <td>$ \curl -sSL https://get.rvm.io | bash</td>
        <td>rvm version manager </td>
        </tr>
    </tbody>
</table>

<p>Instalacion de rails </p>

<table class="table table-dark table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col"> Descripcion</th>
        <th scope="col">Comando</th>
        <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td> Instalacion xcode </td>
        <td> xcode-select --install</td>
        <td> Homebrew (macOS)</td>
        </tr>
        <tr>
        <th scope="row">1</th>
        <td> Instalacion Rail</td>
        <td> gem install rails</td>
        <td> Instalacion rails mac</td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>

<p>Creacion de proyecto ruby on rails </p>

<table class="table table-dark table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col"> Descripcion</th>
        <th scope="col">Comando</th>
        <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td> Crear gemset </td>
        <td> rvm gemset create (nombre gemset)</td>
        <td> gemset con ruby y rails</td>
        </tr>
        <tr>
        <th scope="row">1</th>
        <td> Asignar gemset</td>
        <td> rvm gemset use (nombre gemset)</td>
        <td> Asignacion del gemset creado</td>
        </tr>
        <tr>
        <th scope="row">1</th>
        <td> Crear proyecto rails</td>
        <td> rails g new (nombre del proyeco)</td>
        <td> Creacion de proyecto rails</td>
        </tr>
    
        <tr>
        </tr>
    </tbody>
</table>
